<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Plataforma
body(id="App_Container")
	header
		h2 Logo Ascent
		div
			//- CUALQUIER REFERENCIA CON EL USUARIO DUEÑO DEL MUERO, DE CREACION user_edit
			img(src="#{user_edit.photo.path}", width="50")
			//- p #{user.email}
			p @ #{user_edit.nickname}	
			div
				a(href="/plataforma/perfil/#{user_edit._id}") Perfil
			div
				a(href="/logout") Salir
	nav
		ul
			li
				a(href="/plataforma/comunidad/") Comunidad
			li
				a(href="/plataforma/comunidad/find-friends/actions") Buscar Amigos
			li
				a(href="/plataforma/comunidad/chat/list") Chat
			li
				a(href="/plataforma/comunidad/friends/list") Amigos
			li
				a(href="/plataforma/notificaciones") Notificaciones

	section
		p Muro de:
		h2 #{user.name}
		img(src="#{user.photo.path}", width="80")
		p Categoria: #{user.categoria}
		p Grado: #{user.grado}

	section
		p Nav Usuario	
		ul
			li
				a(href="/plataforma/perfil/#{user._id}") Info/Perfil
			li
				a(href="/plataforma/muro/#{user._id}") Muro
			li
				a(href="/plataforma/friends/#{user._id}") Amigos
			li
				//- SOlo debe aparecer si el dueño user_edit._id !== user._id
				form(action="/plataforma/comunidad/chat/new-chat/#{user._id}", method="post")
						button Iniciar chat
				
	section
		p(id="msg_alert_to_friend_box")
		form(id="Form_publish_to_here")
			div(style="display: none;")
				//- DATOS DEL USUARIO VISITANTE, debe dejar publicar si el user visitate No es el dueño - user_edit._id !== user._id
				//-input(id="published_to_friend_user_id", value="#{user._id}")
				
				input(id="published_to_friend_user_edit_id", value="#{user_edit._id}")
				input(id="published_to_friend_user_name", value="#{user_edit.name}")
				input(id="published_to_friend_user_nick", value="#{user_edit.nickname}")
				input(id="published_to_friend_user_grado", value="#{user_edit.grado}")
				input(id="published_to_friend_user_photo", value="#{user_edit.photo.path}")
			div
				p Empieza a publicarle a #{user.name}
			div
				img(src="#{user_edit.photo.path}", width="50")

			div
				textarea(id="published_publish_to_friend_content", placeholder="Escribele un mensaje a #{user.name}")
						
			div
				p Subir archivos
				input(type="file", id="published_publish_multimedia_to_muro_from_friend")
				div(id="preview_box_to_muro_from_friend")
				//-input(type="text", id="published_publish_to_friend_multimedia", placeholder="Insertar enlace de la imagen a compartir")
			div
				button Enviar

	section
		p(id="msg_alert_box")
		//- Si el id de usuario del URL(dueño del muro), no es igual al del user_edit._id (visitante) - No mostrar form de publicar Form_comunidad_public
		form(id="Form_comunidad_public")
			div(style="display: none;")
				//- DATOS DEL USUARIO DUEÑO, debe dejar publicar si el user visitate es el dueño - user_edit._id === user._id
				input(id="published_user_edit_id", value="#{user_edit._id}")
				input(id="published_user_edit_name", value="#{user_edit.name}")
				
				input(id="published_user_id", value="#{user_edit._id}")
				input(id="published_user_name", value="#{user_edit.name}")
				input(id="published_user_nick", value="#{user_edit.nickname}")
				input(id="published_user_grado", value="#{user_edit.grado}")
				input(id="published_user_photo", value="#{user_edit.photo.path}")

			p Publica a la comunidad:
			div
				img(src="#{user_edit.photo.path}", width="50")
				div
					input(type="text", id="published_publish_title", placeholder="Haz una pregunta o inicia una discución")
			div
				div
					input(type="radio", name="publish_type", class="published_publish_type", value="pregunta")
					label Pregunta
				div
					input(type="radio", name="publish_type", class="published_publish_type", value="discucion")
					label Discución
			div
				textarea(id="published_publish_content", placeholder="Escribe más detalles de tu publicación")
			div
				p Seleccione etiqueta
				each tag in tags
					div
						input(type="radio", id="#{tag.id}", name="publish_etiqueta", class="published_publish_etiqueta__id", value="#{tag.title}")
						label #{tag.title}
						
			div
				p Subir archivos
				input(type="file", id="published_publish_multimedia_from_muro")
				div(id="preview_box_to_muro")
				//-input(type="text", id="published_publish_multimedia", placeholder="Insertar enlace de la imagen a compartir")
			div
				button Enviar

	section(class="Articles_containers")
		article(id="article_item_published")
		//- El template de lectura desde la base de datos, se valida igual que en el de socket.io con imagen o sin ella por la etiqueta <img> -- e este caso no lo tomo en cuenta, pero es necesario
		each article in articles
			article.Article__read__item(data-id="#{article._id}", style='border-top: 1px solid lightgray;')
				div
					form(action='/plataforma/comunidad/article/delete/#{article._id}?_method=delete', method='post')
						button Eliminar
				strong #{article.publish_type}
				div.data-publish__user
					img(src='#{article.user_photo}', width='50')
					a(href="/plataforma/muro/#{article.user_id}") #{article.user_name}
					p #{article.user_grado}
					strong @#{article.user_nick}
				div.data-publish__content
					
					h3 #{article.publish_title}
					p #{article.publish_content}
					//-img(src="{content.publish_multimedia}" width="200")
					p titulo de tag_curso: #{article.publish_etiqueta.title}
					p id de tag_curso: #{article.publish_etiqueta.id}
					p publicado hace: #{article.fecha_creacion}
					
					div.data-pulish__rate-info
						div
							p.count_likes #{article.number_likes}
							p Me gusta
							p #{article.status_color}

						div
							p.count_comments #{article.number_comments}
							p comentarios
					div.data-publish__btn-actions
						div
							button(style="color:#{article.status_color};", class="btn_article_like") Me gusta 
						div
							button(class="btn_article_comment") Comentar
				div
					div(class="box_form_comment")
						each comment in article.users_comments
							div(class="comment__item", data-comment="#{comment.comment_id}")
								div
									strong ##{comment.comment_id}
									img(src="#{comment.user_photo}" width="30")
									a(href="/plataforma/muro/#{comment.user_id}") #{comment.user_name}
									p @#{comment.user_nick}
									p hace #{comment.fecha_creacion}
								div
									p #{comment.comment}
								div.comment__item__counters
									div
										p.count_answers_likes
										p Me gustas #[span(data-commentcounterlikes="#{comment.comment_id}") #{comment.counter_likes}]
										p #{comment.status_color}

									div
										p.count_answers_this_comment 
										p Respuestas #[span #{comment.counter_answers}]
								div.comment__item__actions
									div
										button(style="color:#{comment.status_color}", class="btn_like_this_comment", data-commentlike="#{comment.comment_id}") Me gusta 
									div
										button(class="btn_answer_this_comment") Responder

								div
									div(class="box_form_answers_about_this_comment", data-allaswers="#{comment.comment_id}")
										each answer in comment.answers
											div(data-answer="#{answer.comment_id}", class="answer_id")
												div
													p #{answer.article_id}
													strong ###{comment.comment_id}.#{answer.answer_id}
													img(src='#{answer.user_photo}', width='20')
													a(href='/plataforma/muro/#{answer.user_id}') #{answer.user_name}
													p @#{answer.user_nick}
													p hace #{answer.fecha_creacion}
												div
													p #{answer.answer}
												div(class="asnwer__item__counters")
													div
														p(class="count_answers_likes_2")
															p Me gustas #[span(data-answercounterlikes="#{answer.answer_id}") #{answer.counter_likes}]
															p #{answer.status_color}
												div(class="asnwer__item__actions")
													div
														button(class="btn_like_this_asnwer2", style='color:#{answer.status_color};', data-answerlike="#{answer.answer_id}", data-commentliked="#{answer.comment_id}") Me gusta 
													div
														button(class="btn_answer_this_asnwer2", data-nameaswer="#{answer.user_name}", data-idanswer="#{answer.comment_id}")  Responder

										//-div(class="box_answers_about_this_comment", data-allaswers="#{comment.comment_id}")
									
									form(id="form_comment_item_comentar")
										input(class="txt_answer_to_comment_send", type="text", placeholder="Responde este comentario", data-txtanswer="#{comment.comment_id}")
										button(class="btn_answer_to_comment_send", data-parent="#{comment.comment_id}") Responder

					div(class="box_comments_article")
				br
				br

				form(id="form_item_comentar")
					input(class="txt_comment_send", type="text", placeholder="Ingresa un comentario")
					button(class="btn_comment_send") Comentar
				br
				br

script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.2.0.js")
script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.js")
script(type="text/javascript", src="../../js/socket.io-stream.js")
script(type="text/javascript", src="../../js/social_socket_io/muro/index.js")
script(type="text/javascript", src="../../js/social_socket_io/muro/send_to_friend/index.js")
script(type="text/javascript", src="../../js/social_socket_io/muro/progress_simulator/index.js")




