<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Plataforma Perfil
body
	header
		h2 Logo Ascent
		p Amigos de este usuario
		div
			p Configuración
			img(src="#{user_edit.photo.path}", width="70")
			h2  #{user_edit.name}
			div
				ul
					div(class="User-Perfil__form")
						form(action="/plataforma/perfil/edit/#{user_edit._id}", method="post")
							button Editar Perfil
					li
						a(href="/plataforma/perfil/help")  Ayuda
					li
						a(href="/logout") Salir
				

	section
		p Vista de Comunidad Default

		ul
			li
				a(href="/plataforma/comunidad/") Comunidad
			li
				a(href="/plataforma/comunidad/find-friends/actions") Buscar Amigos
			li
				a(href="/plataforma/comunidad/chat/list") Chat
			li
				a(href="/plataforma/comunidad/friends/list") Amigos
			li
				a(href="/plataforma/notificaciones") Notificaciones
				
	section
		p Nav Usuario	
		ul
			li
				a(href="/plataforma/perfil/#{user._id}") Info/Perfil
			li
				a(href="/plataforma/muro/#{user._id}") Muro
			li
				a(href="/plataforma/friends/#{user._id}") Amigos
			li
				//- SOlo debe aparecer si el dueño user_edit._id !== user._id
				form(action="/plataforma/comunidad/chat/new-chat/#{user._id}", method="post")
						button Iniciar chat
				

	section
		p Tus Datos Personales
		div
			img(src="#{user.photo.path}", width="100")
			h2  #{user.name}
			p  Plan: #{user.access}
			p  username: @ #{user.nickname}	
			p  Categoria: #{user.categoria}
			p  Rango: #{user.grado}

	section
		h2 Lista de amigos
		p #{message}
		div
			each friend in friends
				div(style="border-top:1px solid gray; padding: 1em;")
					img(src="#{friend.photo.path}", width="40")
					a(href="/plataforma/muro/#{friend._id}") #{friend.name}
					div
						form(action="/plataforma/friends/add/#{friend._id}", method="post")
							button Add Friend

		div
			form(action="/", method="post")
				p Habilitar limite de lectura en front :p
				button +19 Amigos
