<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Plataforma
body
	header
		h2 Logo Ascent
		div
			img(src="#{user.photo.path}", width="50")
			//- p #{user.email}
			p @ #{user.nickname}	
			div
				a(href="/plataforma/perfil/#{user._id}") Perfil
				
			div
				a(href="/plataforma/admin/") Go Admin
			div
				a(href="/logout") Salir
	nav
		ul
			li
				a(href="/plataforma/perfil/#{user._id}") Perfil
			li
				a(href="/plataforma/") Cursos 
				a(href="/plataforma/diplomados") |  Diplomados
			li
				a(href="/plataforma/comunidad") Comunidad

	section
		p Vista del Curso
		article
			div
				img(src="#{diplomado.cover.path}", width="180")
			a(href="/plataforma/diplomados/#{diplomado._id}")
				img(src="#{diplomado.icon.path}", width="60")
			h3 
				a(href="/plataforma/diplomados/#{diplomado._id}") #{diplomado.title}
			div
				p Slogan: #{diplomado.slogan}
				p Promedio Rate: #{diplomado.promedioRate}
				p Tags: #{diplomado.tags}
				p Descripción: #{diplomado.description}

			div
				a(href="/plataforma/diplomados/#{diplomado._id}/textos")
					h2 Textos
			div
				a(href="/plataforma/diplomados/#{diplomado._id}/audio-libros")
					h2 AudioLibros
			div
				a(href="/plataforma/diplomados/#{diplomado._id}/simulador")
					h2	Simulador

			br

			p Comentarios/reseña y valoración de la gente proximo
		

